body {
    margin: 0px;
    background-color: #01203f;
}

header {
    background-color: #050828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.imgheader {
    width: 20px;
    margin-left: 15px;
}

.imgheader:hover {
    opacity: 0.5;
    cursor: pointer;
}

.textheader {
    color: white;
    font-weight: 400;
    text-align: center;
}

a {
    text-decoration: none;
}

.textheader:hover {
    opacity: 0.5;
    cursor: pointer;
}
.contenedor4 {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-evenly;
}

.t1 {
    flex-basis: 15%;
}

.i2 {
    margin-right: 15px;
}

.t2 {
    margin-right: 20px;
    margin-left: 10px;
}

.contenedor5 {
    display: flex;
    align-items: center;
    flex-basis: 35%;
    justify-content: right;
}


#portada {
    background-image: url(img/criz2.jpg);
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
}

#titulo, #introduccion {
    margin: 0px;
    line-height: 30px;
    text-align: center;
    color: white;
}

#introduccion {
    opacity: 0.8;
    margin: 10px;
    font-size: 20px;
}

#titulo {
    font-size: 50px ;
    font-family: Georgia, 'Times New Roman', Times, serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 5px;
    padding-top: 80px;
}

h2 {
    text-align: center ;
    margin: 0px;
    padding: 10px 0px;
}

.text1 {
    margin: 0px;
    padding: 5px 0px;
    text-align: justify;
    margin: 0px 10px;
    color: rgb(215, 212, 212);
    text-shadow: 0px 0px 15px white;
}

.text-tarjeta {
    color: goldenrod;
    text-shadow: 0px 0px 15px gold;
    padding: 5px 0px;
}

.contenedor1 {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    align-items: left;
    flex-direction: column;
    width: 40%;
    margin-left: 200px;
    padding: 90px 0px;
}

.img {
    width: 400px;
}

.tarjeta {
    margin: 60px 0px ;
    border-radius: 10px;
    background-color: black;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.tarjeta:hover {
    opacity: 0.5;
    cursor: pointer;
}

.contenedor2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#seccion1 {
    margin: 40px 0px 50px 0px;

}

.titulo-seccion {
    margin-bottom: 20px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#ph {
    margin: 0px;
    color: white;
    margin-right: 10px;
}

#imgh {
    width: 30px;
    border-radius: 100%;
    border: 2px solid white;
    margin-right: 5px;
}

.contenedor3 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    width: 95%;
    margin: 0 auto;
}

#columna1 {
    flex-basis: 70%;
    text-align: justify;
    margin-right: 100px;
    margin-top: 40px;
}

#columna2 {
    flex-basis: 30%;
    text-align: justify;
    margin-top: 40px;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#seccion2 {
    background-color: rgb(17, 17, 24);
    color: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    
}

.lista {
    line-height: 30px;
    padding: 0px;
}

#comentario1 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

#comentario2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;
    width: 50%;
}

textarea {
    width: 100%;
    height: 250px;
}

#boton {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: right;
}

button {
    margin-top: 15px;
}

#comentario-seccion {
    padding: 30px 0px 40px 0px;
}

#comentarios {
    padding-top: 20px;
    background-image: url(img/criz1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

input {
    height: 20px;
}

#name {
    width: 200px;
}

#titulo1 {
    width: 300px;
}

footer {
    background-color: #050828;
    padding: 5px 0px;
}

#contenedorfooter {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    margin: 0 auto;
}

.textofooter {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.textofooter:hover {
    opacity: 0.5;
    cursor: pointer;
}
#cronometro::before {
    content: url(img/cronometro.png) ;
    margin-right: 10px;
}

#first::before {
    content: url(img/rompecabezas.png);
    margin-right: 10px;
}

#help::before {
    content: url(img/apreton-de-manos.png);
    margin-right: 10px;
}

li {
    list-style: none;
    margin-bottom: 20px;
}

#dioses::before {
    content: url(img/boton-cerrar.png);
    margin-right: 10px;
}

#toxico::before {
    content: url(img/radiactivo.png);
    margin-right: 10px;
}

#abandonar::before {
    content: url(img/salida.png);
    margin-right: 10px;
}

#queso::before {
    content: url(img/queso.png);
}
.maxcomentario {
    width: 400px;
    text-align: justify;
    background-color: #4c6589;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    position: relative;
    height: fit-content;
}

#comentarioscriz {
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    width: 60%;

}

#titulomini {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    opacity: 0.8;
}

label {
    font-weight: 600;
}

button {
    font-weight: 600;
    background-color: #c0c4cf;
    width: 70px;
}
/* .textopregunta {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    margin-top: 30px;
    font-size: 20px;
} */


