body {
    margin: 0px;
    background-color: rgb(91, 91, 128);
}

header {
    background-color: #45415e;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

#portada {
    background-image: url(img/criz1.png);
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
}

#titulo, #introduccion {
    margin: 0px;
    line-height: 30px;
    text-align: center;
    color: white;
}

h2 {
    text-align: center ;
    margin: 0px;
    padding: 10px 0px;
}

.text1 {
    margin: 0px;
    padding: 10px 0px;
    text-align: justify;
    margin: 0px 10px;
}

.contenedor1 {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.img {
    width: 400px;
}

.tarjeta {
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    width: 400px;
}

.tarjeta:hover {
    opacity: 0.5;
    cursor: pointer;
}

.contenedor2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#seccion1 {
    margin: 20px 0px;
}

.titulo-seccion {
    margin-bottom: 20px;
    color: white;
}

#ph {
    margin: 0px;
    color: white;
    margin-right: 10px;
}

#imgh {
    width: 30px;
    border-radius: 100%;
    border: 2px solid white;
    margin-right: 5px;
}

.contenedor3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#columna1 {
    flex-basis: 50%;
    text-align: justify;
}

#columna2 {
    flex-basis: 50%;
    text-align: justify;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#seccion2 {
    background-color: white;
    padding: 20px 0px 40px 0px;
}

.lista {
    line-height: 40px;
    margin-left: 10px;
}

#comentario1 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

#comentario2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;
    width: 50%;
}

textarea {
    width: 100%;
    height: 250px;
    padding: 0px;
    border: 0px;
}

#boton {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: right;
}

button {
    margin-top: 15px;
}

#comentario-seccion {
    padding: 30px 0px 40px 0px;
}

#comentarios {
    padding-top: 20px;
}

input {
    height: 20px;
}

#name {
    width: 200px;
}

#titulo {
    width: 300px;
}

footer {
    background-color: #45415e;
    padding: 15px 0px;
}

.textofooter {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.textofooter:hover {
    opacity: 0.5;
}
